html {
	padding: 0;
	margin: 0;
	height: 100%;
}
body {
	padding: 0;
	margin: 0;
	height: 100%;
	background-color: #FFFFFF;
}
.container {
	width: 1188px;
	padding: 0;
	margin: 0 auto;
}
.clearfix::after {
	content: "";
	clear: both; 
	display: table;
}

/*header*/
header {
	padding: 0;
	margin: 0;
}
.page-header {
	padding: 0;
	margin: 0;
	height: 910px;
	background-image: url("../img/fon1.png");
	background-color: #808080;
	background-position: center center;
	background-repeat: no-repeat;
	background-size: 100% 100%;
}
.top-header {
	width: 1188px;
	padding-top: 95px;
}
.header-logo {
	float: left;
	background-image: url("../img/logo.png");
	background-repeat: no-repeat;
	width: 73px;
	height: 73px;
	padding: 0;
	margin: 0;
	margin-right: 635px;
}
.menu-header ul {
	width: 332px;
	list-style: none;
	float: left;
    padding-left: 0;
    margin-right: 0px;
}
.menu-header li {
	margin-left: 0;
	display: inline-block;
	margin-right: 35px;
}
.menu-header li:last-child {
	margin-right: 0;
}
.menu-header a {
    text-transform: uppercase;
    text-decoration: none;
    color: #FFFFFF;
    font-family: 'Roboto', sans-serif;
    font-size: 14px;
    font-weight: bold;
}
.menu-header a:hover {
	padding-bottom: 17px;
	border-bottom: 3px solid #28c8c6;
}
.menu-header li {
	display: inline-block;
	margin-right: 35px;
}
.menu-header input[type="button"] {
	width: 120px;
	height: 50px;
	border-radius: 5px;
	float: left;
	background-image: url("../img/menu.png");
	background-repeat: no-repeat;
	border: none;
}
.middle-header h1 {
	padding: 0;
	margin: 0;
	font-family: 'Montserrat', sans-serif;
	font-weight: bold;
	font-size: 60px;
	line-height: 55px;
	text-transform: uppercase;
	width: 530px;
	padding-top: 190px;
	color: #FFFFFF;
}
.middle-header p {
	padding: 0;
	margin: 0;
	font-family: 'Roboto', sans-serif;
	font-size: 16px;
	width: 512px;
	padding-top: 35px;
	color: #FFFFFF;
	line-height: 24px;
}
.bottom-header {
	padding: 0;
	margin: 0;
	width: 722px;
	padding-top: 27px;
}
.feedback-form-designstyle,
.feedback-form-email {
	float: left;
	margin-right: 15px;
}
.feedback-form input {
	height: 60px;
	background-repeat: no-repeat;
	border: none;
	border-radius: 5px;
	padding-left: 26px;
	font-size: 14px;
	font-family: 'Montserrat', sans-serif;
}
.feedback-form-designstyle input {
	width: 280px;
	background-image: url("../img/button2.png");
	background-position:  260px center;
}

.feedback-form-email input {
	width: 270px;
	background-image: url("../img/button1.png");
	background-position:  260px center;
}
.bottom-header input[type="button"] {
	margin-top: 2px;
	width: 59px;
	height: 59px;
	border-radius: 5px;
	float: left;
	background-image: url("../img/button.png");
	background-repeat: no-repeat;
	border: none;
}	
.arrow-2 {
	position: relative;
	height: 80px;
	background-image: url("../img/arrow.png");
	background-repeat: no-repeat;
	background-position: center;
	top: 165px;	
}

/* latest-design */


.latest-design {
	background-image: url("../img/fon2.png");
	background-repeat: no-repeat;
	background-position: center 0px;
	font-family: 'Roboto', sans-serif;
	text-align: center;
}
.latest-design h1 {
	padding: 0;
	margin: 0;
	font-size: 40px;
	font-weight: bold;
	padding-top: 85px;
}
.latest-design p {
	padding: 0;
	margin: 0;
	font-size: 14px;
	padding-top: 28px;
	line-height: 25px;
	padding-bottom: 365px;
}

/* features */

.features {
	padding: 0;
	margin: 0 auto;
	margin-bottom: 0;
	width: 1200px;
}
.features h1 {
	text-align: center;
	padding-top: 54px;
	font-size: 30px;
	line-height: 29px;
	font-family: 'Montserrat', sans-serif;
	text-transform: uppercase;
	font-weight: bold;
}
.features p {
	text-align: center;
	margin-top: 33px;
	font-size: 14px;
	line-height: 25px;
	font-family: 'Roboto', sans-serif;
}
.feature {
	float: left;
	width: 300px;
	padding-top: 240px;
	background-repeat: no-repeat;
	background-position:  80px 60px;
}
.features-overall {
	padding-bottom: 145px;
}
.feature h2 {
	padding: 0;
	margin: 0;
	text-align: center;
	font-size: 17px;
	line-height: 29px;
	font-family: 'Roboto', sans-serif;
	text-transform: uppercase;
	font-weight: bold;
}
.feature p {
	padding: 0;
	margin: 0;
	text-align: center;
	font-size: 14px;
	line-height: 25px;
	font-family: 'Roboto', sans-serif;
}
.feature.one {
	background-image: url("../img/icon1.png");
}
.feature.two {
	background-image: url("../img/icon2.png");
}
.feature.three {
	background-image: url("../img/icon3.png");
}
.feature.four {
	background-image: url("../img/icon4.png");
}
	
/* guidelines */

.guidelines {
	padding: 0;
	margin: 0;
	background-color: #f6f9fa;
}
.arrow {
	position: relative;
	height: 88px;
	background-image: url("../img/fon6.png");
	background-repeat: no-repeat;
	background-position: center;
	top: -30px;
}
.guidelines h1 {
	padding: 0;
	margin: 0;
	text-align: center;
	font-size: 30px;
	line-height: 29px;
	font-family: 'Montserrat', sans-serif;
	text-transform: uppercase;
	font-weight: bold;
	padding-top: 84px;
}
.guidelines p {
	text-align: center;
	margin-top: 33px;
	font-size: 14px;
	line-height: 25px;
	font-family: 'Roboto', sans-serif;
}
ul.partitions-menu {
	padding: 0;
	margin: 0 auto;
	width: 620px;
	height: 55px;
	text-align: center;
	list-style: none;
}
.partition {
	float: left;
	width: 150px;
	height: 55px;
	margin-top: 47px;
	border-top: 2px solid #3cc0bd;
}
.partition:first-child {
	border-left: 2px solid #3cc0bd;
}
.partition a {
	padding: 0;
	margin: 0;
	color: #3cc0bd;
	text-align: center;
	font-size: 14px;
	line-height: 29px;
	font-family: 'Roboto', sans-serif;
	line-height: 4.5;
	text-transform: uppercase;
	text-decoration: none;
	font-weight: bold;
}
.partitions-menu li a:hover  {
	display: block;
	background-color: #3cc0bd;
	color: #f6f9fa;
	height: 55px;
}
ul.divisions {
	padding: 0;
	margin: 0 auto;
	margin-top: 55px;
	padding-bottom: 96px;
	width: 1200px;
	height: 274px;
	text-align: center;
	list-style: none;
}
.division {
	padding: 0;
	margin-top: 55px;
	margin-right: 22px;
	float: left;
	width: 380px;
	height: 274px;
	font-size: 14px;
	line-height: 25px;
	font-family: 'Montserrat', sans-serif;
	text-transform: uppercase;
	line-height: 34;
	background: url("../img/fon4.png") no-repeat center 0px,
                url("../img/icon6.png") no-repeat 325px 225px;
	background-size: 380px 200px,
	                 30px 30px;
}
.divisions li {
	background-color: #ffffff;
	border-radius: 10px;
}
.division:last-child {
	margin-right: 0px;
}

/* push */

.push {
	padding: 0;
	margin: 0;
	height: 1574px;
	background: url("../img/fon5.png") no-repeat 290px 365px,
				url("../img/fon8.png") no-repeat center 0px;
}
.middle-push {
	width: 1200px;
	padding-top: 333px;
}
.push-logo {
	float: left;
	background-image: url("../img/icon5.png");
	background-repeat: no-repeat;
	width: 180px;
	height: 180px;
	padding: 0;
	margin: 0;
	margin-right: 45px;
}
.push-text {
	width: 518px;
	list-style: none;
	float: left;
}
.push h1 {
	padding: 0;
	margin: 0;
	width: 530px;
	font-family: 'Montserrat', sans-serif;
	font-weight: bold;
	font-size: 60px;
	line-height: 55px;
	text-transform: uppercase;
	color: #FFFFFF;
}
.push p {
	padding: 0;
	margin: 0;
	font-family: 'Roboto', sans-serif;
	font-size: 16px;
	padding-top: 40px;
	color: #FFFFFF;
	line-height: 24px;
	padding-bottom: 0px;
}

/* Кнопка наверх */

#back-top {
	margin-left: 0px;
	margin-top: 555px;
}

#back-top a {
	width: 50px;
	height: 50px;
	display: block;
	background: url("../img/button3.png") no-repeat center 0px;
	border-radius: 5px;
	border: none;
	-webkit-transition: 2s;
	-moz-transition: 2s;
	transition: 2s;
}

/* footer */

footer {
	padding: 0;
	margin: 0;
}
.footer-box {
	padding: 0;
	margin: 0;
	width: 1185px;
}
.column-1,
.column-2,
.column-3 {
	float: left;
}
.column-1 {
	padding-top: 90px;
	width: 60px;
	margin-right: 80px;
}
.column-2 {
	padding-top: 90px;
	width: 70px;
}
.column-1 a,
.column-2 a {
	text-decoration: none;
	font-family: 'Montserrat', sans-serif;
	font-size: 12px;
	line-height: 35px;
	color: #c3ccd3;
}
.column-3 {
	padding-top: 10px;
	padding-left: 648px;
	width: 308px;
}
.social {
	width: 202px;
	padding: 0;
	margin-left: 103px;
}
.tweet,
.shape {
	width: 97px;
	height: 35px;
	float: left;
}
.tweet {
	background: url("../img/soc1.png") no-repeat center 0px;
	margin-right: 8px;
}
.shape {
	background: url("../img/soc2.png") no-repeat center 0px;
}
.tweet a,
.shape a {
	width: 97px;
	height: 35px;
	display: inline-block;
}
.column-3 p {
	margin: 0;
	padding-top: 47px;
	font-family: 'Montserrat', sans-serif;
	font-size: 12px;
	line-height: 20px;
	color: #c3ccd3;
}
.footer-bottom {
	margin: 0;
	padding: 0;
	padding-top: 42px;
	font-family: 'Montserrat', sans-serif;
	font-size: 12px;
	line-height: 24px;
	color: #c3ccd3;
	padding-bottom: 126px;
}








